APP_NAME="My PHP App"
APP_ENV=development
APP_DEBUG=true

DB_HOST=db
DB_PORT=3306
MYSQL_ROOT_PASSWORD=change_this_password
MYSQL_DATABASE=myapp
MYSQL_USER=myuser
MYSQL_PASSWORD=change_this_password_too

PHP_PORT=8000
MYSQL_PORT=3306